@model IEnumerable<QLTV.Models.Muon>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ngayGio_muon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ngay_hethan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CuonSach.TinhTrang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DocGia.ho)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ngayGio_muon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ngay_hethan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CuonSach.TinhTrang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DocGia.ho)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
