@model QLTV.Models.DocGia

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with Meyawo landing page.">
    <meta name="author" content="Devcrud">
    <link rel="shortcut icon" type="image/png" href="~/Content/assets/icon/favicon.png" />
    <title>Quản lý độc giả | TNC</title>
    <!-- font icons -->
    <link rel="stylesheet" href="~/Content/assets/vendors/themify-icons/css/themify-icons.css">
    <!-- Bootstrap + Steller  -->
    <link rel="stylesheet" href="~/Content/assets/css/meyawo.css">
</head>
<body>

    <!-- Page Header -->
    <header class="header header-mini">
        <div class="header-title">Quản lý độc giả</div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("QuanLy","Home")">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">Quản lý độc giả</li>
                <li class="breadcrumb-item"><a href="index.html"><a href="@Url.Action("Index","TuaSaches")">Quản lý tựa sách</a></li>
                <li class="breadcrumb-item"><a href="index.html"><a href="@Url.Action("Index","DauSaches")">Quản lý đầu sách</a></li>
            </ol>
        </nav>
    </header> <!-- End Of Page Header -->
    <!-- main content -->
    <div class="container">
        <!-- Inputs -->
        <hr>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="row mt-5">
                <div class="col-md-6">
                    <h6 class="section-secondary-title">Mã độc giả</h6>
                    <div class="form-group">
                        @Html.EditorFor(model => model.ma_docgia, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ma_docgia, "", new { @class = "text-danger" })
                    </div>
                    <h6 class="section-secondary-title">Họ</h6>
                    <div class="form-group">
                        @Html.EditorFor(model => model.ho, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ho, "", new { @class = "text-danger" })
                    </div>
                    <h6 class="section-secondary-title">Tên</h6>
                    <div class="form-group">
                        @Html.EditorFor(model => model.ten, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ten, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-6">
                    <h6 class="section-secondary-title">Tên lót</h6>
                    <div class="form-group">
                        @Html.EditorFor(model => model.tenlot, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.tenlot, "", new { @class = "text-danger" })
                    </div>
                    <h6 class="section-secondary-title">Vai trò</h6>
                    <div class="form-group">
                        @Html.EditorFor(model => model.vaitro, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.vaitro, "", new { @class = "text-danger" })
                    </div>
                    <h6 class="section-secondary-title">Ngày sinh</h6>
                    <div class="form-group">
                        @Html.EditorFor(model => model.NgaySinh, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NgaySinh, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div> <!-- end of inputs -->

            <div class="form-group col-sm-12 mt-3 text-center">

                <button type="submit" value="Save" class="btn btn-primary">Lưu</button>
            </div>
        }


        <div style="text-align:center">
            @Html.ActionLink("Quay về danh sách", "Index")
        </div>

        <!-- footer -->
        <div class="container mt-5">
            <footer class="footer">
                <p class="mb-0">
                    Create by TT &copy;
                    <script>document.write(new Date().getFullYear())</script>
                </p>
                <div class="social-links text-right m-auto ml-sm-auto">
                    <a href="javascript:void(0)" class="link"><i class="ti-facebook"></i></a>
                    <a href="javascript:void(0)" class="link"><i class="ti-google"></i></a>
                    <a href="javascript:void(0)" class="link"><i class="ti-instagram"></i></a>
                </div>
            </footer>
        </div> <!-- end of page footer -->
</body>
</html>